html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

  div{
    
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 1.125rem;
    color: black; 
    text-shadow: 1px 1px 2px white;
    border-radius: 5px;
    border: 1px solid black;
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 100%); 
    background-color: red;





  }